<body>
    <div class="title">
        <h2>Faça seu login<br><br>na plataforma</h2>
    </div>

    <div class="container">
        <form #userForm="ngForm" (ngSubmit)="onSubmit()">
            <div>
                <h2>Login</h2>
            </div>
            <div class="input-box">
                <input type="email" class="input" placeholder="Email" name="email" [(ngModel)] = "userModel.email" >
            </div>

            <div>
                <input type="password" class="input" placeholder="Senha" name="senha" [(ngModel)] = "userModel.password">
            </div>
            <div>
                <span class="p1">Esqueci minha senha</span>
            </div>

            <input type="submit" class="submit" value="ENTRAR">

            <div class="p2">
                <p>Não tem uma conta? <span>Registre-se</span></p>
            </div>
            <div class="option2">
                <p class="p3">Ou entre com</p>
                <input type="submit" class="input-submit" value="GITHUB">
            </div>
        </form>
        <p id="mensagem" *ngIf=" mensagem != '' " >{{mensagem}}</p>
    </div>
    
</body>
