<body>
    <header>
        <div class="baner">
            <div class="menu posicionamento-header">
                <div class="itens-menu" id="menu">
                    <a href="">Descobrir</a>
                    <a href="">Navegar</a>
                    <a href="">Novidades</a>
                </div>
                <div class="search">
                    <img src="./assets/image/search-solid.svg" alt="">
                    <input type="text" placeholder="Pesquisar">
                </div>
                <a onclick="menuBarras()"> <img class="barras" src="./assets/image/bars-solid.png" alt="barra de menu"></a>
            </div>
            <div class="text-baner">
                <h1>Viva a<br><br>experiencia<br><br>do jogo</h1>
                <!--<button onclick="teste1()">add</button>-->
            </div>
        </div>
    </header>
    <section class="secao-jogos">
        <div class="destaques">
            <h1>Destaques</h1>
            <a href=""><img src="./assets/image/setas.svg"></a>
        </div>
        <div class="jogos">
            <a href="">
                <img src="./assets/image/valorant.svg">
                <h1>VALORANT<br>Gratuito</h1>
            </a>
            <a href="">
                <img src="./assets/image/amongus.svg">
                <h1>Among Us<br>R$ 7,49</h1>
            </a>
            <a href="">
                <img src="./assets/image/neonabyss.svg">
                <h1>Neon Abyss<br>R$ 59,99</h1>
            </a>
            <a href="">
                <img id="battle" src="./assets/image/battlefield.svg">
                <h1 id="battle">Battlefield 2042<br>R$ 144,42</h1>
            </a>
        </div>
        <div class="section-description">
            <div id="carrossel">
                <img src="../../assets/image/carrossel.svg">
                <img src="../../assets/image/imagem6.svg">
            </div>
            <div class="text-description">
                <h2>Lorem Ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consectetur 
                    adipiscing elit. Fusce et metus erat. 
                    Lorem ipsum dolor sit amet, consectetur 
                    adipiscing elit. Duis convallis sem vitae 
                    leo tempus, sit amet posuere quam auctor.Lorem 
                    ipsum dolor sit amet, consectetur 
                    adipiscing elit. Duis convallis sem vitae 
                    leo tempus, sit amet posuere quam auctor.</p>
                <a href="">SAIBA MAIS</a>
            </div>
        </div>
    </section>
    <footer>
        <div class="container-footer">
            <div class="title-footer">
                <h1>NESS</h1>
                <h2>Entertainment</h2>
                <br>
                <hr class="line-footer">
                <br>
                <p>CARREIRAS | SOBRE | SUPORTE | 
                CONTATO | IMPRENSA | API | MAPA DO SITE</p>
            </div> 
        </div> 
        <div class="img-footer container-footer">
            <a href=""><img src="./assets/image/redesociais.svg"></a>
        </div>  
        <div>
            <div class="text-footer">
                <p>©2021 NESS Entertainment, Inc. Todos os direitos 
                    reservados.</p>
            </div>
               <div class="text-footer">
                <p>
                    Todas marcas registradas mencionadas 
                    são de propriedade de seus respectivos donos.
                </p>
               </div>
        </div>         
    </footer>
    <script src="js/jquery-3.6.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
</body>